.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: url('../../../assets/img/skill.jpg') no-repeat;
  background-size: cover;
  z-index: -999;
}
.skill:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #eee;
  opacity: 0.8;
  z-index: -99;
}
.skill__title {
  padding: 20px 0;
  height: 60px;
  line-height: 60px;
  text-align: center;
}
.skill__title .title__line {
  display: inline-block;
  width: 150px;
  border-top: 1px solid #ccc ;
}
.skill__title .title__text {
  padding: 0 10px;
  vertical-align: -webkit-baseline-middle;
  font-size: 22px;
  color: #686868;
}
.skill__container {
  flex: 1;
  padding: 0 10%;
}
.skill__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.skill__list .list__item {
  height: 20%;
  width: 20%;
}
.skill__list .list__item img{
  margin: 15%;
  width: 70%;
  height: 70%;
  border-radius: 10px; 
  transition: all 1.5s;
}
.skill__list .list__item img:hover {
  transform: rotateX(180deg);
}